body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(./images/flower.gif);
    background-repeat: no-repeat;
  }
  
  main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  h1 {
      font-size: 110px;
      text-align: center;
      color: white;
      text-shadow: 1px 4px 6px rgba(235,19,19,0.73);
      max-width: 100%;
      animation: animate 1.5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.7;
    }
    100% {
      opacity: 0;
    }
  }

  